<div>
    <p>Hello, <%=name%>,
    Thanks for being with. Please click the below verification button to verify your email
    </p><br>
    <a href="<%=link%>" target="_blank" rel="noopener noreferrer"><button>Verify Email</button></a>
</div>